.boyCounter {
    background-color:blue;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    visibility:hidden;
}

.girlCounter {
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    visibility:hidden;
}


  